<!doctype html>
<html>
<head>
    <title>Authenticator</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-user"></span> Profile Page</h1>
        <h3><a href="/post" class="label label-success">Create New Post</a><h3>
        <h3><a href="/logout" class="label label-danger">Logout</a></h3>
    </div>

    <% if (typeof message !== 'undefined' && message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="well">
            <h3><span class="fa fa-laptop"></span> Local</h3>
                <p>
                    <strong>id</strong>: <%= user.id %><br>
                    <strong>username</strong>: <%= user.username %><br>
                    <strong>email</strong>: <%= user.email %><br>
                    <strong>password</strong>: <%= user.password %><br>
                    <strong>Blog Title</strong>: <%= user.blogTitle %><br>
                    <strong>Blog Description</strong>: <%= user.blogDescription %>
                </p>
                
        </div>
    <div class="page-header text-center">
        <h1><span class="fa fa-pencil"></span> Blog Posts</h1>
    </div>
        <% processedArray.forEach(function(post) { %>
        <div class="column">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="<%= post.image %>" alt="No Image" style="height: 200px; width: 300px">
              <div class="caption">
                <h3><%= post.title %></h3>
                <p align="justify"><%= post.content %></p>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
    </div>
</body>
</html>
